main {
    background-color: bisque;
    color: firebrick;
}

.toDoList {
    border: firebrick solid 2px;
}

.doneListItem {
    text-decoration: line-through;
}

li:hover {
    color: hotpink;
}

input[type="checkbox"]:checked span {
    text-decoration: line-through;
}